PORT=3000
FRONTEND_URL=http://localhost:5173

FIVESIM_API_KEY=colle_ta_cle_5sim_ici

DATABASE_URL=./numafrik.db

JWT_SECRET=numafrik_secret_change_moi_2024

CINETPAY_API_KEY=ta_cle_cinetpay
CINETPAY_SITE_ID=ton_site_id

BACKEND_URL=https://ton-app.railway.app

DEFAULT_MARGIN_FCFA=200

SMS_TIMEOUT_SECONDS=1200
